.card{
	background-color: transparent;
	padding: 10px;
	margin:10px;
}

.category-filter{
	height: 50px;
}
.topbar{
	background-color: cyan;
	height: 80px;
	padding:20px;
}
body {
  font-family: "Roboto", sans-serif;
}
.modal-custom{
	z-index: 100;
	position: fixed;
	top:0px;
	left: 0px;
	width:100vw;
	height:100vh;
	text-align: center;
	background-color: grey;
	overflow-y: auto;
}
.modal-custom .btn{
	margin-right: 10px;
}
form{
	padding: 4vh;
}